<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Админ-панель</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Админ-панель</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Изменения кнопок</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/content">Наполнение кнопок</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/subbuttons">Управление под-кнопками</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/purchase_materials">Материалы после покупки</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
